{% extends "main/base.html" %}
{% load static %}
{% load custom_filters %}
{% load crispy_forms_tags %}



{% block content %}

<div class="container-fluid">
    <div class="row no-gutter h-100">
        <div class="col-lg-12 pr-5 format-users-box">
            <div class="format-box h-auto">

                <div class="row no-gutter">
                    <div class="col-md">
                        <a href="{% url 'exam-edit-questions' %}" id="center-menu-back-button" class="center-menu-button">Back</a>
                        <img id="ip-logo-admin" class="ip-logo" src="{%static 'main/images/uvt_logo.png'%}" alt="">
                        <h2 id="ip-admin-text">Manage Answers</h2>
                        <div class="container">
                            <center>
                                <small><p>{{question_text}}</p></small>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row no-gutter h-100">
                        <div class="container-fluid">
                            <form method="POST">
                                {% csrf_token %}
                                {{form.answer|as_crispy_field}}
                                {{form.correct|as_crispy_field}} 
                                <button type="submit" style="display: inline;" class="center-menu-button-nr pt-2 pb-2 pl-0 pr-0">Add Answer</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row no-gutter h-auto">
                        <div class="table-responsive" style="margin-left: 1em; margin-right:1em">
                            <table id="managePointsTable" class="table table-striped table-bordered table-sm">
                                <thead>
                                  <tr>
                                    <th scope="col">Answer</th>
                                    <th scope="col">Correct?</th>
                                    <th scope="col">Actions</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% if answer_list %}
                                        {% for answer in answer_list %}
                                            <tr>
                                                <td>{{answer.answer}}</td>
                                                {% if answer.correct %}
                                                <td>Correct</td>
                                                {% elif answer.question.question_type == 2 %}
                                                <td>Marking key</td>
                                                {% else %}
                                                <td>Not correct</td>
                                                {% endif %}
                                                <td style="text-align: center;">
                                                    <div class="btn-group">
                                                        <a class="center-menu-button-sm button-yellow`" id="table-button" href="{% url 'exam-manage-answers-update' pk=question_id aid=answer.id %}">Edit</a>
                                                        <a class="center-menu-button-sm button-danger" id="table-button" href="{% url 'exam-manage-answers-delete' pk=question_id aid=answer.id %}">Delete</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block datatable %}
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script>
	$(document).ready(function() {
    $('#managePointsTable').DataTable({
        "order": [[ 1, "asc" ]]
    });
} );
</script>
{% endblock datatable %}