{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>LSPD Exam</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="icon" type="image/png" href="{%static 'main/images/uvt_logo.png'%}">
	<link rel="stylesheet" href="{%static 'main/css/main.css'%}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
</head>
<body>
    <div class="container format-box mt-5 ">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-md">
                    <img class="ip-logo mt-3 mb-3" src="{%static 'main/images/uvt_logo.png'%}" alt="">
                    <h2 id="ip-admin-text">West University of Timisoara Examination.</h2>
                    <center>
                        <p class="mt-5 mb-5">You have completed your examination! Please wait patiently for the results on your application.</p>
                    </center>
                </div>
            </div>
        </div>  
    </div>

</body>
</html>