{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Exams - Auth</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="icon" type="image/png" href="{% static 'main/images/uvt_logo.png' %}">
	<link rel="stylesheet" href="{% static 'users/css/login.css'%}">

	<style>
		body {
			background-image: url('{% static "users/images/login_background.jpg" %}');
			font-family: Arial;
		}
	</style>
</head>
<body>


<div class="container-fluid">
	{% if messages%}
		{% for message in messages %}
			<div style="position: absolute; width: 61vw; z-index: 1;" class="alert alert-{{message.tags}} mt-2">
				{{message}}
			</div>
		{% endfor %}
	{% endif %}
	
	<div class="row">
		<div class="col-sm-12">
			<div id="regRect" class="container-fluid">
				<div class="row text-center">
					<img class="mx-auto my-3" src="{% static 'main/images/uvt_logo.png' %}" alt="" id="logoSize">
				</div>
				<div class="row text-center mt-4">
					{% block content %} {% endblock %}
				</div>
			</div>
		</div>
	</div>
</div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>